.App {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  background-color: #7e60bf;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container {
  width: 30%;
  height: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  border: 3px solid #e4b1f0;
  overflow-y: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2),
    /* Outer shadow */ inset 0 0 20px rgba(255, 255, 255, 0.6); /* Inner light effect */
  transform: perspective(500px) translateZ(30px); /* Protruding effect using translateZ */
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.Container:hover {
  transform: perspective(500px) translateZ(60px); /* Pop out more on hover */
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3),
    /* Increased outer shadow on hover */ inset 0 0 30px
      rgba(255, 255, 255, 0.7); /* Stronger inner light effect on hover */
}

.ulList {
  overflow-x: auto;
  width: 90%;
  height: 60%;
}

.liList {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.liList input {
  border: none;
  border-radius: 25px;
  background-color: #e4b1f0;
}

.liList li {
  width: 50%;
  font-size: 25px;
  list-style-type: none;
  overflow-wrap: break-word;
  color: #e4b1f0;
  cursor: pointer;
}

.liList li::before {
  content: "💜";
  margin-right: 8px; /* Adjust spacing if needed */
}

.btns {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
}

.btns span {
  font-size: 25px;
  cursor: pointer;
}

.Controller {
  width: 90%;
  height: 20%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.Controller input {
  font-size: 20px;
  border: none;
  background-color: #7e60bf;
  border-bottom: 1px solid #e4b1f0;
  color: #e4b1f0;
}

.Controller button {
  font-size: 20px;
  border: none;
  border-radius: 25px;
  background-color: #e4b1f0;
}

@media (max-width: 950px) {
  .Container {
    width: 80%;
    height: 70%;
  }

  .liList li {
    font-size: 25px;
  }

  .Controller input {
    font-size: 25px;
  }

  .Controller button {
    font-size: 25px;
  }

  .btns span {
    font-size: 20px;
  }
}
